@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;}
#header{width: 100%;height: 100px; background-color: #fff; border-bottom:1px solid rgba(0, 0, 0, 0.1);position: relative; z-index: 111111;top:0;}
#section{position: relative;top:100px;}
.container{margin:0 auto;width: 1840px;height: 100%; position: relative; }
.center{width: 1400px; height: 682px; position: relative; top:40px; margin:0 auto;}
/* 메인 메뉴 */
.blank{background-image: url(../img/blank.png);display: inline-block; width: 15px; height: 15px; overflow: hidden;}
.one-depth{position: absolute; top:30px;left:450px;}
.one-depth>li{float: left; font-size: 22px; width: 158px;}
.one-depth>li:hover ul{display: block;}
.one-depth>li>a{padding:30px;}
.one-depth>li.sub5>a{border-bottom:8px solid #3480c4; font-weight: 700;}
.one-depth>li:hover>a{border-bottom:8px solid #3480c4; font-weight: 700;}
.depth2{display: none; overflow: hidden; width: 1600px;margin:0 auto; box-sizing: border-box;padding:10px 0}
.sub2 .depth2{width: 1000px;}
.sub3 .depth2{width: 1400px;}
.sub5 .depth2{width: 1200px;}
.depth2>li{float: left; width: 200px;}
.depth2>li>a{font-size: 17px;padding: 15px 10px 10px 15px; color: #353535;font-weight: 700;letter-spacing: -0.5px; background-image: url(../img/depth2.gif);background-repeat: no-repeat; background-position: left 56%;}
.depth3>li>a{display: block; font-size: 15px; color: #475B6E; padding: 5px 12px 5px 7px; letter-spacing: -1px; text-align: left; }
.depth3>li>a:before{content: "- ";}
.depth3>li>a:hover{font-weight: bold;}
/* 메뉴bg */
.one-depth>li.sub1:hover .gnbbg{height: 320px; z-index: 2;}
.one-depth>li.sub2:hover .gnbbg{height: 200px; z-index: 3;}
.one-depth>li.sub3:hover .gnbbg{height: 350px; z-index: 4;}
.one-depth>li.sub4:hover .gnbbg{height: 300px; z-index: 5;}
.one-depth>li.sub5:hover .gnbbg{height: 280px; z-index: 6;}
.gnbbg{background: rgba(201,228,255,0.9); height: 0px; position:absolute; top:70px;left:-500px; width: 1920px; transition: height .3s;}
/* 메인 로고 */
.logo1{width: 185px; height: 47px;position: absolute; top: 30px; left: 20px;}
.logo1>a{background-image: url(../img/logo.jpg);background-repeat: no-repeat; width: 100%;height: 100%; display:block;}
.logo2{width: 120px; height: 47px; position: absolute; top: 30px; left: 240px;}
.logo2>a{background-image: url(../img/logo2.jpg);background-repeat: no-repeat;width: 100%;height: 100%;display:block;}
/* sns */
#header-menu{position: absolute; top:20px;right:220px;}
#header #header-menu>ul{overflow: hidden;}
#header #header-menu>ul>li{float: left; margin-right: 4px;}
#header #header-menu>ul>li>a{display:inline-block; width: 34px; height: 30px;border-radius: 50%;color: #fff;text-align: center; line-height: 30px; text-indent: 0;}
li.fb>a{background-color: #4d6ea6;}
li.twit>a{background-color: #1db7e9;}
li.yout>a{background-color: #C12F29;}
li.insta>a{background-color: #3a6188;}
li.blog>a{background-image:url(../img/blog.png);background-color: #01c73c;background-position: 50% 50%;background-repeat: no-repeat; background-size: cover; }
li.kakao>a{background-image:url(../img/kakao.png);background-color:#3c1e1e ; background-position:50% 50%;background-repeat: no-repeat; background-size: cover; }
.sns li>a:before{font: 21px FontAwesome; display: inline-block; vertical-align: middle;}
li.fb>a:before{content: '\f09a';}
li.twit>a:before{content: '\f099';}
li.yout>a:before{content: "\f167";}
li.insta>a:before{content: '\f16d';}
#header-menu>a.korea{background-image: url(../img/korea.jpg);background-repeat:no-repeat;width: 100px;height: 35px; display: block;position: absolute; top:10px;left:-110px;}
.nuri-map{clear: both; padding-top:10px;margin-left: 10px;}
.nuri-map>.map{padding-right: 15px;}
.nuri-map>a{font-weight: 600;font-size: 14px;color:#555555;}
.nuri-map>a:hover{text-decoration: underline;}
.nuri-map>a:before{display: inline-block; margin-right: 5px; color: orange; content: '\f138'; font: normal normal normal 16px/1 FontAwesome;letter-spacing: -0.5px;}
.search{position: absolute; top:55px;right: 20px; font-size: 14px; color: #666; width: 130px; height: 28px; line-height: 26px; padding: 0 30px 0 10px; background-color: #e6e6e6; border: 1px solid #e6e6e6;}
.login-btn{position: absolute; top:20px;right:20px; background-color: #343434; color: #fff; font-size: 12px; line-height: 25px; cursor: pointer; border-radius: 5px; padding: 0 7px;}
.btn-search{position: absolute;top:60px; right:25px; cursor: pointer;}
.btn-search:after{content: '\f002'; font: normal normal normal 16px FontAwesome; font-weight: 400; color: #353535;}
/* ------------------------------header */
.top-menu{background-color: #C9E4FF; overflow: hidden; text-align: center;}
.top-menu li{display: inline-block;height: 50px;}
.top-menu li a{display: inline-block; padding: 0 30px; font-size: 18px; line-height: 50px;}
.top-menu li.first-menu a{font-weight: 700;}
.top-menu li a:hover{font-weight: 700;}
/* 상단메뉴  배너이미지*/
.rr{position: relative;}
.rr h2{text-align: center;font-size: 40px; font-weight: 700; color:#fff;background:#656163  url(../img/sogaeimg.jpg) 50%50% no-repeat; height: 230px;text-shadow: 1px 1px 2px #000; line-height: 230px;}
.util1{position: absolute;bottom:40px;right: 450px; background-image: url(../img/icon_util.png);background-position:-100px 0;background-repeat: no-repeat; display: block;width: 31px;height: 31px; }
.util2{position: absolute;bottom:40px;right: 400px; background-image: url(../img/icon_util.png);background-position: -150px 0;background-repeat: no-repeat; display: block;width: 31px;height: 31px; }
/* 테이블*/
#table-wrap{width: 1496px; margin:0 auto; padding:50px 0;}
.list{padding:0px 5px;}
.list>.list-head{text-align: center; padding-bottom: 50px;}
.list>.list-head li{display: inline-block;}
.list>.list-head li:before{content: ''; display: inline-block; background: url(../img/listgubun.png) 50% 50% no-repeat; width: 12px;height: 42px; vertical-align: middle; margin-right:10px;}
.list>.list-head li.flist:before{visibility: hidden;}
.list>.list-head li a{display: inline-block; height: 42px;line-height: 41px;font-size: 17px; padding-right: 4px;color: #606060;}
.list>.list-head li a:hover{color: #000; border-color: #000;font-weight: 600; border-bottom: 3px solid #000;}
.list>.list-head li.flist a{color: #000; border-color: #000;font-weight: 600; border-bottom: 3px solid #000;}
.hi{width: 100%; padding:100px 0 0 0; position: relative;}
.hi .ment{width: 100%; height:660px;background: url(../img/shin.jpg) right 0 no-repeat;}
.hi .ment span{font-size: 50px; font-weight: 400; color: #000;letter-spacing: -.15px;}
.hi .ment .fment{font-size: 50px;color:#000;font-weight: 300;letter-spacing: -.15px;}
.hi .ment p{margin-bottom: 24px; color:#4d4d4d; font-size: 17px;}
.photo{width: 100%; background-color: #eaeaea; margin-bottom: 50px; font-size: 17px; height: 390px;}
.photo .talk{width: 490px;height: 390px; background-color: #1a5660; padding: 40px; box-sizing: border-box;float: left; position: relative;}
.photo .talk h1{font-size: 24px;color:#fff;font-weight: 600;}
.photo .talk p{line-height: 1.6; margin-bottom: 20px; font-size: 17px; color: #aecbd0; padding-top: 10px;}
.photo .talk ul{position: absolute;bottom:40px;}
.photo .talk ul>li{width: 172px;height: 50px;border: 2px solid #fff; text-align: center; margin-right: 10px;}
.photo .talk ul>li>a{display: block; line-height: 50px; color:#fff;}
.photo .talk ul>li:hover a{text-decoration: underline;}
.photo .sok{width: 1006px; background-color: #eaeaea; padding: 40px; box-sizing: border-box;float: left;}
.photo .sok h1{margin-bottom: 30px; color: #313131;font-size: 28px;font-weight: 600; line-height: 1.1; margin-left: 15px;}
.photo .sok .sok-photo{width: 100%; overflow: hidden;}
.photo .sok .sok-photo li{width: 33.33%; float: left; padding: 0 1em; box-sizing: border-box;}
.photo .sok .sok-photo li div{margin-bottom: 15px;}
.photo .sok .sok-photo .img-tit a{font-size: 17px;color:#4d4d4d;font-weight: bold;letter-spacing: -.4px; display: block;text-align: center;}
.photo .sok .sok-photo .img-tit a:hover{text-decoration: underline;}
.photo .sok .sok-photo .date{color: #929292; font-size: 14px; text-align: center;}
/* 고객의견 */
.service{display: inline-block; position: relative;  width: 100%; padding: 4px 0; padding-right: 90px; font-size: 16px; background-color: #eee; border: 1px solid #c7c7c7; box-sizing: border-box;margin-top:40px;}
.service ul{height: 100%; text-align: center;overflow: hidden;}
.service li{display: inline-block; padding:10px;}
.service li.call{margin-left:20px;}
.service li.call:before{content: '/'; margin-right:20px;}
.top-btn{display: inline-block; width: 66px; height: 30px; position: absolute; top: 50%; right: 13px; margin-top: -15px; border: 1px solid #c7c7c7; text-align: center;}
.service .top-btn .top{display: inline-block; cursor: pointer; width: 100%; height: 100%; font-size: 14px; font-weight: 700; background: #fff;}
.service .top-btn .top:before{content: '\f106'; font: normal normal normal 15px/1 FontAwesome;}
.service-main{position: relative; border: 1px solid #c7c7c7; border-top: 0;  box-sizing: border-box;}
.service-main .service-title{position: absolute; top: 30px; left: 0px; width: 50%; padding: 0 20px 0 30px; box-sizing: border-box;font-size: 18px;}
.service-title a{float: right; font-weight: 600;}
.service-title a:after{display: inline-block; content: '\f105'; margin-left: 5px; font: normal normal normal 20px/1 FontAwesome;}
.service-main>form>ul{overflow: hidden;}
.service-main>form>ul>li.face{border-right: 1px solid #000; display: inline-block;width: 49%; padding: 40px 10px; vertical-align: top;}
.service-main>form>ul>li>ul>li{width: 20%; font-size: 18px; text-align: center;float: left; margin-top:25px;color:#4d4d4d;}
.service-main>form>ul>li>ul>li label{cursor: pointer;}
.service-main>form>ul>li>ul>li label:before{display: inline-block; width: 100%;height: 36px; content: ''; margin: 20px 0 16px 0;}
.service-main>form>ul>li>ul>li.sogood label:before{background-image: url(../img/face.jpg);background-position:50% 0; background-repeat: no-repeat;}
.service-main>form>ul>li>ul>li.good label:before{background-image: url(../img/face.jpg);background-position:50% -60px; background-repeat: no-repeat;}
.service-main>form>ul>li>ul>li.soso label:before{background-image: url(../img/face.jpg);background-position:50% -120px; background-repeat: no-repeat;}
.service-main>form>ul>li>ul>li.bad label:before{background-image: url(../img/face.jpg);background-position:50% -180px; background-repeat: no-repeat;}
.service-main>form>ul>li>ul>li.sobad label:before{background-image: url(../img/face.jpg);background-position:50% -240px; background-repeat: no-repeat;}
.service-main>form>ul>li>ul>li label input{margin-right: 5px; width: 12px;height: 12px; border:1px solid #ccc; border-radius: 6px;}
.service-main>form>ul>li.notice{float: right;width: 48%; padding: 30px 10px; vertical-align: top; box-sizing: border-box;}
.notice h2{font-size: 18px;}
.notice span{font-weight: 700; color: #5f98d4;}
.notice .memo-box{height: 70px; position: relative; margin-top: 10px;}
.notice .memo-box .memo-area{display: inline-block;width: 82%; height: 100%; background-color: #eee; border: 1px solid #c7c7c7; box-sizing: border-box;font-size: 14px;resize: none;}
.notice .memo-box .memo-btn{display: inline-block; width: 102px;height: 100%; position: absolute; top: 0; right: 20px; border: 0; background-color: #313131; font-size: 17px; font-weight: 300; color: #fff;}
/* footer */
#footer{height: 155px;background: #292c34;position: relative;}
#footer>.container{width: 1496px;}
/* footer메뉴 */
#footer-menu{padding:35px 0 35px 0px;float: left;}
#footer-menu>ul li{float: left; margin-right: 20px;}
#footer-menu>ul>li a{font-weight: 700; color:#a8b1bd; font-size: 17px;}
#footer-menu>ul>li:hover a{color:#f2d300;}
#footer-menu>ul>li.foot1>a{color:#f2d300;}
/* footersns */
.foot-sns li{float: left; margin-right: 10px; margin-top:30px;}
.foot-sns li a{display:inline-block; width: 34px; height: 30px;border-radius: 50%;color: #fff;text-align: center; line-height: 30px; text-indent: 0;}
.site-info{width: 480px;height:70px; float: right;}
.site-list button{margin-top:20px;height: 47px; display: inline-block;width: 230px; background: none; font-size: 16px; color: #fff; border: 1px solid #a8b1bd; text-align: left; padding: 0 18px; cursor: pointer; margin-right: 5px;}
.site-list button:after{content: '\f107';font: normal normal normal 17px FontAwesome;margin-left:80px;}
.site-list button:hover{background: #a8b1bd;}
.site-link{position: absolute; bottom:10px;right:15px;}
.site-link a{display: inline-block;width: 93px;height: 49px;margin: 30px 0 0 30px;}
.site-link .open{background-image: url(../img/open.jpg);background-repeat: no-repeat;}
.site-link .wa{background-image: url(../img/wa.jpg);background-repeat: no-repeat;}
.footer-info{font-size: 16px; color:#a8b1bd;}
.footer-info a{color:#a8b1bd;}
.footer-info address{clear: both;float: left;}
.footer-info span{float: left;}
.footer-info p{clear: both; float: left;}
/* ------------------------------footer */